h1, h4{
    color: white;
}
p{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: justify;
    padding: 4%;
}
button{
    width: 20%;
    background-color: rgb(66, 142, 242);
    color: white;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid white;
}
button:hover{
    background-color:  rgb(240, 151, 180);
}

.container-fluid{
    background-image: url("src/assets/aurora.jpg");
    min-height: 70vh;
}