<div class="container-fluid" style="display: flex; flex-direction: column; justify-content: center;">
<div class="row p-5 justify-content-center">
    <div class="col-md-7 intro">

            <h1>Weather</h1>
            <h4>Free weather service</h4>
            <p >Welcome to our weather app! With our app, you can get up-to-date weather information for any location worldwide. Whether you're planning a weekend getaway, commuting to work, or just curious about the weather in your area, our app has got you covered.Our app provides detailed weather information, including temperature, humidity, wind speed, and more. You can easily search for the weather in any city, town, or village and get the current weather conditions as well as the forecast for the next few days.
            </p> 

            <button routerLink="/weather/getWeather">Get Weather</button>
           
            
    </div>
</div> 
</div>