.row{
color: white;
background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

p{
    font-weight: 500;
    font-size: 110%;
    margin-left: 10px;
    margin-right: 10px;
}
.loop{
    border: 2px solid wheat;
    border-radius: 10px;
    padding-top: 20px;
    opacity: 1;
    position: relative;
    z-index: 1;
    margin-bottom: 5vh;
}
.loop::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .7; 
    z-index: -1;
    background-color: rgb(18, 17, 17);
    border-radius: 5px;
}
button{
    color: black;
    background-color: rgb(15, 174, 174);
    font-weight: 600;
    margin-bottom: 5px;
}
button:hover{
    color: red;
    background-color: black
}

.approvedBtn:hover{
    color: black;
    background-color: rgb(15, 174, 174);
}