

    <div class="row justify-content-center introCC">

        <div class="col-md-6 col-sm-8 p-5 intro">

            <h2>Confirm Your Booking</h2>
            <h6>This World is like a book, one who didn't travel only read its first page</h6>

            <form >
                <input disabled="" required [(ngModel)]="cur_booking_object.fromPlace" name="fromPlace" type="text" placeholder="From">
                <input disabled="" required [(ngModel)]="cur_booking_object.toPlace" name="toPlace" type="text" placeholder="To">

                <div >
                    <input disabled="" required [(ngModel)]="cur_booking_object.departureDate" name="departureDate" type="date">
                    <label>Departure Date</label>
                </div>

                <div>
                    <input disabled="" required [(ngModel)]="cur_booking_object.arrivalDate" name="arrivalDate" type="date">
                    <label>Arrival Date</label>
                </div>


                <div style="margin-top: 11px;">
                    <span>
                        <label for="">Car Type : {{cur_booking_object.carType}}</label>
                    </span>
                    
                   
                </div>
                

                <div style="text-align: center; display: flex; justify-content: space-between;">
                    <span>
                        <label>
                           Cost : {{cur_booking_object.cost}}$
                        </label>
                    </span>
                    <span>
                        <label>
                           Distance : {{cur_booking_object.distance}}km
                        </label>
                    </span>
                </div>
                <button (click)="confirm()">Confirm</button>
            </form>
        </div>

    </div>
