
.intro{
    border: 2px solid white;
    border-radius: 50px;
    min-height: 67vh;
}
.intro p{
    text-align: justify;
    margin-bottom: 1px;
    margin-top: 10px;
}
.intro input{
    text-align: center;
    border-radius: 5px;
    border: white;
    margin-bottom: 4px;
}
.intro form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.intro button{
    border-radius: 5px;
    border: 1px solid goldenrod;
}

.intro button:hover{
    background-color: palevioletred;
    color: white;
}

.introC {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    
    display: flex;
    justify-content: center;
}

.centralizer{
    display: flex;
    justify-content: center;
}